html,body{
    font-family: 'Poppins', sans-serif;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

section {
    min-height: 400px;
}
.navbar{
    background-color: #C0EAC2;
}
.navbar-light .navbar-nav .nav-link {
    color: #03AC0E;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
}
.jumbotron {
    background-image: url('../img/banner-2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    height: 690px;
    /* margin-top: -100px; */
    border-radius: 0px;
}
/* .jumbotron::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -45px;
    width: 100%;
    height: 690px;
    background-image: linear-gradient(-180deg, #ffffff, #03AC0E);
    opacity: .3;
    position: absolute;
    bottom: 0;
} */
.jumbotron-our {
    background-image: url('../img/banner-2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    height: 350px;
    margin-top: -200px;
    border-radius: 0px;
}


.title-banner {
    text-align: center;
    margin-top: 130px;
    z-index: 1;
}
.title-banner h1 {
    color: #03AC0E;
    font-weight: bold;
    font-size: 30px
}
.title-banner p {
    color: #03AC0E;
    font-size: 20px;
}
.title-banner .btn-banner {
    border-radius: 0;
    background: #03AC0E;
    color: #ffffff;
    padding: 10px;
    width: 200px;
    position: relative;
    margin-top: 100px;
}
.title-banner .btn-banner:before{
        content: '';
        transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		width: 0%;
		height: 100%;
        background: #42C04A;
        color: #ffffff;
		position: absolute;
		top: 0;
		left: 0;
}
.title-banner .btn-banner:hover::before{
    background: #42C04A;
    width: 200px;
    
}
.title-our {
    text-align: center;
    margin-top: 130px;
    z-index: 1;
}
.title-our h1 {
    color: #03AC0E;
    font-family: 'poppin';
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    margin-top: 120px;
}

.service-banner{
    width: fit-content;
    bottom: -70px;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
}
.service-banner h3 {
    color: white;
    font-size: 30px;
}

.thumb{
    text-align:center;
    padding:0;
    display:block;
    clear:both;
}
.thumb ul{
    display:block;
    list-style-type:none;
    margin:0px 0px 0 -22px;
    padding:0;
    clear:both;
}
.thumb ul li img{
    display: block;
    float:left;
    padding:0px;
    width:250px;
    height:250px;
    text-align:center;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.img-banner{
    margin-top: -120px;
    margin-bottom: 30px;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.feature-item {
	/* text-align: center;*/
	height: 230px;
	margin-left: -15px;
    margin-right: -15px;
	padding: 25px 15px 15px;
	position: relative;
}

.feature-item:hover:before {
	opacity: 1;
}

.feature-item:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-item h3 {
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 50px;
    opacity: 0.8;
}

.feature-item p {
	color: #ffffff;
	margin-bottom: 22px;
}

.feature-item .primary-btn.f-btn:hover:after {
	opacity: 1;
}

.feature-item .title {
    margin-top: 30px;
}
.feature-item .title h5 {
    color: #ffffff;
}
.feature-item .title p {
    font-size: 10px;
    opacity: 0.8;
}

.many-more {
    height: 313px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 100px 15px 15px;
	position: relative;
    background-color: #C0EAC2;
}
.many-more h3 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.many-more:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.many-more .primary-btn.f-btn:hover:after {
	opacity: 1;
}
.many-more:hover:before {
	opacity: 1;
}

.instagram-photo {
    overflow: hidden;
}
.instagram-photo .insta-item {
    float: left;
    width: 16.66%;
  
    text-align: center;
    position: relative;
}
.instagram-photo .insta-item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    content: "";
    opacity: 0;
    -webkit-transition: all .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.instagram-photo .insta-item .inside-text {
    padding-top: 130px;
    opacity: 0;
    visibility: hidden;
    position: relative;
    -webkit-transition: all .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.instagram-photo .insta-item .inside-text h5 {
    margin-top: 14px;
}
.instagram-photo .insta-item .inside-text h5 a {
    color: #fff;
}

.about-us {
    background-color: #C0EAC2;
    height: 600px;
    padding: 50px;
    margin-left: -15px;
    margin-right: -20px;
}
.about-us h3{
    color: #03AC0E;
}
.about-us p {
    color: #03AC0E;
    font-size: 13px;
    line-height: 2;
    text-align: justify;
}
.about-us .btn-about {
    border-radius: 0;
    background: #03AC0E;
    color: #ffffff;
    padding: 10px;
    width: 200px;
    position: relative;
}
.image-about {
    margin-left: -10px;
    margin-right: -15px;
    margin-top: 60px;
}
.image-about img{
    width: 100%;
}
/* =========== Our Team ========= */
.ourteam {
    width: auto;
    height: 1000px;
    background-color: #C0EAC2;
    margin-top: -150px;
}
.meetour {
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.meetour p {
    padding-right: 200px;
    font-size: 12px;
    line-height: 25px;
}
.img-our {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.img-our img {
    max-width: 100%;
}
.thumb-ourteam {
	margin: 5px;
	text-align: center;
    background: rgb(4, 82, 27);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.thumb-ourcontent {
    padding: 15px;
    color: #fff;
}
.thumb-ourcontent h5 {
    font-size: 18px;
    font-family: "roboto";
    font-weight: bold;
    margin-bottom: inherit;
}
.thumb-ourcontent span {
    font-size: 16px;
    font-family: "roboto";
    opacity: 80%;
}
.thumb-ourcontent p {
    margin-top: 16px;
    font-size: 11px;
    font-family: "roboto";
    font-weight: normal;
}
.medsos-our {
    margin-left: 125px;
}


/*========== Featured Project ========== */
.bg-featured {
    background-image: url(../img/bg-featured-project.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 320vh;
    width: 100%;
}
.thumb-wrapper {
	margin: 5px;
	text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.thumb-content {
	padding: 15px;
	font-size: 13px;
}
.thumb-content span {
    font-size: 14px;
    font-family: roboto;
    font-weight: bold;
}



/*========== Testimonials ========== */
.bg-testimonials {
    background-image: url(../img/bg-testimonials.png);
    /* background-position: center;
    background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 62vh;
    width: 100%;
}
.testimoni {
    position: relative;
}
.testimoni .item {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}
.testimoni .testimoni-indicators {
    bottom: -5px;
}
.testimoni-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.testimoni-indicators li, .testimoni-indicators li.active {
    width: 8px;
    height: 8px;
    margin: 1px 3px;
    border-radius: 50%;
}
.testimoni-indicators li {
    background: #999;
    border-color: transparent;
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.testimoni-indicators li.active {
    background: #555;
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.testimoni .item .img-box {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.testimoni .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimoni .testimonial {
	padding: 20px 20px 0px 20px;
}
.testimoni .overview {	
	font-style: normal;
}
.testimoni .overview b {
	text-transform: uppercase;
	color: #D1AE4E;
}
.testimoni i {
    font-size: 30px;
    color: #6F796F;
    margin-bottom: 10px;
}
.testimoni .name {
    font-weight: 800;
}
.testimoni .position {
    color: #6F796F;
    margin-top: -18px;
}
.testimoni .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}




/*========== Footer ========== */
.bg-footer {
    background-image: url(../img/bg-footer.png);
    background-position: center;
    width: 100%;
    /* text-align: center; */
    /* padding: 30px 0px; */
    overflow: hidden;
}
.footer-img img {
    margin-bottom: 20px;
}
.footer-title p {
    color:#fff;
    font-size:12px;
}
.footer-medsos p {
    color:#fff;
    font-size:12px;
    margin-bottom: 7px;
}
.footer-medsos p i {
    font-size: 16px;
    margin-right: 5px;
}
.footer-links {
    margin: 0 0 10px;
    padding: 0;
}
.footer-links a {
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #fff;
    font-size: 14px;
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}


@media (min-width: 768px) {
    .title-banner h1 {
        color: #03AC0E;
        font-weight: bold;
    }
    .title-banner p {
        color: #03AC0E;
        font-size: 30px;
    }
    .testimoni .testimonial {
        padding: 20px 170px 0px 170px;
    }
    .bg-featured {
        background-image: url(../img/bg-featured-project.png);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        height: 130vh;
        width: 100%;
    }
    .bg-testimonials {
        background-image: url(../img/bg-testimonials.png);
        /* background-position: center;
        background-attachment: fixed; */
        background-repeat: no-repeat;
        /* background-size: cover; */
        height: 70vh;
        width: 100%;
    }
    .center-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .bg-footer {
        background-image: url(../img/bg-footer.png);
        background-position: center;
        width: 100%;
        /* text-align: center; */
        /* padding: 30px 0px; */
        overflow: hidden;
    }

}




@media (min-width: 576px) { 
    .about-us {
        background-color: #C0EAC2;
        height: 500px;
        padding: 50px;
        margin-left: -15px;
        margin-right: -20px;
    }
}